body
{
	background: #EFEFEF;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	margin: 0;
	padding: 45px 0 0 0;
}

#footer
{
	
	border-top: 1px solid #C9E0ED;
	font-size: 0.8em;
	margin: 10px 20px;
	padding: 10px;
	text-align: center;
}


.action-buttons
{
	display: inline; 
	padding-right: 10px;
}

.bold 
{
	font-weight: bold;
}

.carousel .item img
{
	min-height: 400px;
	max-height: 400px;
	margin-left: auto;
	margin-right: auto;
}

.comparison-text 
{
	font-size: 14px;
	font-style: italic;
	font-weight: normal;
}

.description-text 
{
	text-align: justify;
}

.grid-view table td.extrarow
{
	color: #333;
	font-size: 3em; 
	padding:10px;
}

.product-code
{
	font-weight: bold;
	margin-top: 2em;
}

.row-spacer
{
	padding: 10px 0;
}

.thumbnail > img.comparison-image 
{
	max-width: 200px; 
	width: 200px;
}

.top-link
{
	cursor: pointer;
	display: none;
	left: 1%;
	position: fixed;
	text-decoration: none;
	top: 10%;
	z-index: 1;
}




/* Overriding Bootstrap styles */
body .navbar .brand, 
body .navbar .nav > li > a 
{
	color: #444444;
}

body .navbar input[type="text"]
{
	color: #404040;
}