body
{
	background: #EFEFEF;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	margin: 0;
	padding: 45px 0 0 0;
}

.row-spacer
{
	padding: 10px 0;
}

#footer
{
	
	border-top: 1px solid #C9E0ED;
	font-size: 0.8em;
	margin: 10px 20px;
	padding: 10px;
	text-align: center;
}

.description-text 
{
	text-align: justify;
}

.product-code
{
	font-weight: bold;
	margin-top: 2em;
}

.top-link
{
	cursor: pointer;
	display: none;
	left: 1%;
	position: fixed;
	text-decoration: none;
	top: 10%;
	z-index: 1;
}




/* Overriding Bootstrap styles */
body .navbar .brand, 
body .navbar .nav > li > a 
{
	color: #444444;
}

body .navbar input[type="text"]
{
	color: #404040;
}

body .dropdown-menu {
	min-width: 60px;
}